body {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

header {
  padding: 20px;
  background-color: #ff0000;
  color: #ffa500;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

header p {
  font-size: 23px;
}

# photos {
  background-color: #ffa500;
  color: #ff0000;
  text-align: center;
  font-size: 23px;
}
  
