header {
  text-align: center;
  background-color: red;
}

#bord {
  background-color: #006400;

img {
  width: 100px;
}

h1 {
  font-size: 60px;
  margin-top: 50px;

p {
  color: red;
  text-align: center;
}
